* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(../img/planet9_Wallpaper_5000x2813.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1 {
    text-align: center;
    margin-top: 5%;
    text-transform: inherit;
    color: aliceblue;
    animation-name: test;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.loader {
    
}
@keyframes test {
    0% {
        background: rgba(255, 255, 255, 0);
    }
    10% {
        background: rgba(255, 255, 255, 0.279);
    }
    20% {
        background: rgba(255, 255, 255, 0.524);
    }
    30% {
        background: rgba(255, 255, 255, 0.609);
    }
    40% {
        background: rgba(255, 255, 255, 0.752);
    }
    50% {
        background: rgb(255, 255, 255);
    }
    60% {
        background: rgba(255, 255, 255, 0.866);
    }
    70% {
        background: rgba(255, 255, 255, 0.704);
    }
    80% {
        background: rgba(255, 255, 255, 0.59);
    }
    90% {
        background: rgba(255, 255, 255, 0.171);
    }
    100% {
        background: rgba(255, 255, 255, 0);
    }
}